<html>
	<body>
		<div id="container" style="padding: 12; font-family: monospace; white-space: nowrap;">
			<h3>IDENTITY MANAGER</h3>
			<div id='list'></div>
			</br>
			</br>
			<div>
				<span>Generate a new identity:</span>
				<button id='new_button'>NEW</button>
			</div>
			</br>
			</br>
			<div>
				<span>Add an identity:</span>
				<input id='add_input' placeholder="seckey or nsec" />
				<button id='add_button'>ADD</button>
			</div>
			</br>
			</br>
			<div>
				<span>Remove an identity:</span>
				<input id='remove_input' placeholder="pubkey or npub" />
				<button id='remove_button'>REMOVE</button>
			</div>
			</br>
			</br>
			<div>
				<span>Set the active identity:</span>
				<input id='active_input' placeholder="pubkey or npub" />
				<button id='active_button'>SET ACTIVE</button>
			</div>
		</div>
	</body>
	<script type="text/javascript">

		const listContainer = document.getElementById('list');
		const addInput = document.getElementById('add_input');
		const removeInput = document.getElementById('remove_input');
		const setActiveInput = document.getElementById('active_input');
		const addButton = document.getElementById('add_button');
		const newButton = document.getElementById('new_button');
		const removeButton = document.getElementById('remove_button');
		const setActiveButton = document.getElementById('active_button');
		
		newButton.addEventListener('click', () => {
			window.satellite.identity.newIdentity();
		});

		addButton.addEventListener('click', () => {
			window.satellite.identity.addIdentity(addInput.value);
		});

		removeButton.addEventListener('click', () => {
			window.satellite.identity.removeIdentity(removeInput.value);
		});

		setActiveButton.addEventListener('click', () => {
			window.satellite.identity.setActiveIdentity(setActiveInput.value);
		});

		window.satellite.identity.handleUpdate((e, data) => {

			addInput.value = '';
			removeInput.value = '';
			setActiveInput.value = '';

			while (listContainer.firstChild) {
				listContainer.removeChild(listContainer.firstChild);
			}

			for (let item of data.identities.reverse()) {
				const child = document.createElement('div');
				child.textContent = `${item.pubkey}${item.active ? ' [active]' : ''}`;
				listContainer.appendChild(child);
			}
		});

	</script>
</html>
